@use "../variables.scss" as *;
@use "../functions.scss" as *;

// Карточка в первом блоке
.start-card {
	width: 370px;
	height: 260px;
	border-radius: 50px;
	background-color: #FFFFFF;
	box-shadow: 0px 7.06194px 30px rgba(0, 0, 0, 0.2);
	position: relative;
	overflow: hidden;
	@media (max-height: $first-height-bp){
		width: px-to-vh(370px, $first-height-bp);
		height: px-to-vh(260px, $first-height-bp);
		border-radius: px-to-vh(50px, $first-height-bp);
	}
	@media (max-width: $tablet-bp){
		width: px-to-vw(370px, $tablet-bp);
		height: px-to-vw(260px, $tablet-bp);
		border-radius: px-to-vw(50px, $tablet-bp);
	}
	@media (max-width: $mobile-bp){
		width: px-to-vw(215px, $mobile-bp);
		height: px-to-vw(155px, $mobile-bp);
		border-radius: px-to-vw(30px, $mobile-bp);
	}
	& img {
		object-fit: cover;
		width: 100%;
		height: 100%;
		object-position: center; // Опционально - центрирует изображение
	}
}

// Карточка для блока с работами
.work-card {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 32px;
	@media (max-width: $first-bp){
		gap: 2.22vw;
	}
	&:hover {
		cursor: pointer;
		&>*:last-child {
			opacity: 1;
			transition: all 0.3s ease 0s;
		}
	}
	&__card {
		height: 280px;
		max-width: 400px;
		width: 100%;
		//background-color: #FFFFFF;
		box-shadow: 0px 7.06194px 40px rgba(0, 0, 0, 0.08);
		border-radius: 50px;
		position: relative;
		overflow: hidden;
		@media (max-width: $second-bp){
			height: px-to-vw(280px, $second-bp);
			max-width: px-to-vw(400px, $second-bp);
			border-radius: px-to-vw(50px, $second-bp);
		}
		@media (max-width: $small-tablet-bp){
			height: px-to-vw(260px, $small-tablet-bp);
			max-width: 100%;
			border-radius: px-to-vw(40px, $small-tablet-bp);
		}
		@media (max-width: $mobile-bp){
			height: px-to-vw(266px, $mobile-bp);
			border-radius: px-to-vw(40px, $mobile-bp);
		}
		& img {
			object-fit: cover;
			width: 100%;
			height: 100%;
			object-position: center; // Опционально - центрирует изображение
		}
	}
	&__text {
		font-size: 18px;
		text-align: center;
		color: $neutral-dark;
		opacity: 0;
		@media (max-width: $second-bp){
			font-size: px-to-vw(18px, $second-bp);
		}
		@media (max-width: $tablet-bp){
			display: none;
		}
	}
}

// Квадратные карточки в блоке с преимуществами
.advantage-card {
	border: 5px solid #FFFFFF;
	border-radius: 22px;
	width: 140px;
	height: 140px;
	display: flex;
	justify-content: center;
	align-items: center;
	transform: rotate(30deg);

	background-color: #fdfdfd;
	font-size: 28px;
	color: #c7c7c7;
	overflow: hidden;
	@media (max-width: $first-bp){
		width: px-to-vw(140px, $first-bp);
		height: px-to-vw(140px, $first-bp);
		border-radius: px-to-vw(22px, $first-bp);
		border: px-to-vw(5px, $first-bp) solid #FFFFFF;
	}
	@media (max-width: $third-bp){
		width: px-to-vw(120px, $third-bp);
		height: px-to-vw(120px, $third-bp);
		border-radius: px-to-vw(20px, $third-bp);
		border: px-to-vw(4px, $third-bp) solid #FFFFFF;
	}
	@media (max-width: $tablet-bp){
		width: px-to-vw(120px, $tablet-bp);
		height: px-to-vw(120px, $tablet-bp);
		border-radius: px-to-vw(20px, $tablet-bp);
		border: px-to-vw(4px, $tablet-bp) solid #FFFFFF;
	}
	@media (max-width: $mobile-bp){
		width: px-to-vw(66px, $mobile-bp);
		height: px-to-vw(66px, $mobile-bp);
		border-radius: px-to-vw(8px, $mobile-bp);
		border: px-to-vw(3px, $mobile-bp) solid #FFFFFF;
	}
	&__image {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

// Карточка в блоке work history
.work-history-card {
	background: #FFFFFF;
	box-shadow: 0px 7.06194px 40px rgba(0, 0, 0, 0.08);
	border-radius: 40px;
	max-width: 360px;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	&:hover {
		cursor: grab;
	}
	&.dragging {
		cursor: grabbing !important;
	}
	&.dragging * {
		pointer-events: none !important;
	}
	@media (max-width: $small-tablet-bp){
		max-width: px-to-vw(360px, $small-tablet-bp);
		border-radius: px-to-vw(40px, $small-tablet-bp);
		max-width: 290px;
		min-width: 290px;
	}
		&__wrapper {
			padding: 32px;
			display: flex;
			flex-direction: column;
			gap: 32px;
			@media (max-width: $tablet-bp){
				padding: px-to-vw(32px, $tablet-bp);
			}
			@media (max-width: $small-tablet-bp){
				padding: 24px;
				gap: 28px;
			}
		}
		&__top {
			display: flex;
			flex-direction: column;
			gap: 8px;
		}
		&__title {
			font-size: 30px;
			letter-spacing: -0.2%;
			color: $neutral-dark;
			font-weight: 400;
			line-height: 126.6%;
			@media (max-width: $small-tablet-bp){
				font-size: px-to-vw(30px, $small-tablet-bp);
			}
			@media (max-width: $small-tablet-bp){
				font-size: 22px;
			}
		}
		&__subtitle {
			font-size: 18px;
			letter-spacing: -0.2%;
			color: $neutral-grey;
			@media (max-width: $small-tablet-bp){
				font-size: 16px;
			}
		}
		&__info {
			padding: 24px 0px;
			display: flex;
			gap: 12px;
			align-items: center;
			border-top: 1px solid $light-grey;
			border-bottom: 1px solid $light-grey;
			&_image {
				width: 46px;
				height: 46px;
				@media (max-width: $small-tablet-bp){
					width: 36px;
					height: 36px;
				}
			}
			&_data {
				display: flex;
				flex-direction: column;
				gap: 2px;
			}
			&_company-name {
				font-size: 18px;
				line-height: 133%;
				letter-spacing: -0.2%;
				color: $neutral-dark;
				@media (max-width: $small-tablet-bp){
					font-size: 16px;
				}
			}
			&_address {
				font-size: 18px;
				line-height: 125%;
				letter-spacing: -0.2%;
				color: $neutral-grey;
				@media (max-width: $small-tablet-bp){
					font-size: 14px;
				}
			}
		}
		&__period {
			display: flex;
			flex-direction: column;
			gap: 4px;
			&_title {
				font-size: 16px;
				color: $neutral-grey;
				line-height: 125%;
				@media (max-width: $small-tablet-bp){
					font-size: 14px;
				}
			}
			&_subtitle {
				font-size: 18px;
				color: $neutral-dark;
				line-height: 127%;
				@media (max-width: $small-tablet-bp){
					font-size: 16px;
				}
			}
		}
}


