@use "../variables.scss" as *;
@use "../functions.scss" as *;

// Основной заголовок в стартовом блоке
.main-title {
	font-size: 100px;
	font-weight: 500;
	line-height: 115%;
	letter-spacing: -1%;
	font-family: $accent-font;
	text-transform: uppercase;
	text-align: center;
	@media (max-height: $first-height-bp){
		font-size: px-to-vh(100px, $first-height-bp);
	}
	@media (max-width: $tablet-bp){
		font-size: px-to-vw(100px, $tablet-bp);
	}
	@media (max-width: $small-tablet-bp){
		font-size: px-to-vw(80px, $small-tablet-bp);
	}
}

// Основной заголовок в остальных блоках сайта (кроме основного)
.secondary-title {
	font-size: 77px;
	font-weight: 400;
	letter-spacing: -0.2%;
	font-family: $accent-font;
	text-transform: uppercase;
	text-align: center;
	color: $neutral-dark;
	@media (max-width: $first-bp){
		font-size: px-to-vw(77px, $first-bp);
	}
	@media (max-width: $tablet-bp){
		font-size: px-to-vw(58px, $tablet-bp);
	}
	@media (max-width: $small-tablet-bp){
		font-size: 48px;
	}
	@media (max-width: 393px){
		font-size: 42px;
	}
}

// Серый подзаголовок (под заголовками вторичных блоков)
.subtitle {
	font-size: 16px;
	line-height: 162.5%;
	color: $neutral-grey;
	letter-spacing: 0.5%;
	font-weight: 300;
	text-align: center;
	@media (max-width: $first-bp){
		font-size: 16px;
	}
	@media (max-width: $small-mobile-bp){
		font-size: 14px;
	}
}

// Жирный шрифт контакта (например адрес в шапке)
.contact-title {
	color: $neutral-dark;
	font-size: 20px;
	font-weight: 700px;
	font-family: $accent-font;
	text-transform: uppercase;
	font-style: normal;
	@media (max-width: $small-tablet-bp){
		font-size: 18px;
	}
	@media (max-width: $mobile-bp){
		font-size: 16px;
	}
	@media (max-width: $small-mobile-bp){
		font-size: 14px;
	}
}
// Текст контакта, например почта в шапке
.contact-item {
	font-size: 16px;
	color: $neutral-grey;
	letter-spacing: 0.5%;
	line-height: 162.5%;
	text-transform: uppercase;
	font-style: normal;
	font-family: "Outfit";
	@media (max-width: $small-tablet-bp){
		font-size: 14px;
	}
	@media (max-width: $mobile-bp){
		font-size: 12px;
	}
	@media (max-width: $small-mobile-bp){
		font-size: 10px;
	}
}

.titles-gap {
	gap: 12px;
	@media (max-width: $first-bp){
		gap: px-to-vw(12px, $first-bp);
	}
	@media (max-width: $mobile-bp){
		gap: 8px;
	}
}