@use "../variables.scss" as *;
@use "../functions.scss" as *;

.socials-widget {
	position: relative;
	left: 0px;
	top: -65px;
	display: flex;
	justify-content: center;
	flex-direction: row;
	width: 100%;
	gap: 20px;
	transform: scale(0.2);
	z-index: 1000;
	@media (max-width: $mobile-bp){
		top: -50px;
	}
	&__wrapper {
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 16px;
		margin-top: -120px;
		background-color: rgba($color: #CAD4DE, $alpha: 0.9);
		border: 1px solid rgba($color: #FFFFFF, $alpha: 0.4);
		backdrop-filter: blur(6px);
		padding: 25px 28px;
		border-radius: 360px;
		@media (max-width: 400px){
			width: 90vw;
			padding: px-to-vw(25px, 400px) px-to-vw(30px, 400px);
		}
	}
	&__socials-items {
		display: grid;
		grid-template-columns: repeat(3, 80px);
		gap: 20px;
		@media (max-width: 400px){
			display: flex;
			justify-content: center;
			gap: px-to-vw(20px, 400px);
		}
		@media (max-width: 360px){
			gap: px-to-vw(5px, 360px);
		}
		&>*:nth-child(1)>*:first-child {
			background: #0044FF;
			border: 1px solid rgba(43, 46, 58, 0.1);
			border-radius: 360px;
		}
		&>*:nth-child(2)>*:first-child {
			background: #027FBC;
			border: 1px solid rgba(43, 46, 58, 0.1);
			border-radius: 360px;
			& img {
				width: 22px;
				height: auto;
				@media (max-width: $small-mobile-bp){
					width: 18px;
				}
			}
		}
		&>*:nth-child(3)>*:first-child {
			background: #2B2E3A;
			border: 1px solid rgba(43, 46, 58, 0.1);
			border-radius: 360px;
		}
	}
	&__socials-item {
		width: 80px;
		display: flex;
		flex-direction: column;
		align-items: center;
		gap: 8px;
		@media (max-width: 400px){
			width: px-tp-vw(80px, 400px);
		}
		&:hover {
			.socials-widget__socials-item_icon {
				opacity: 0.9;
				transition: all 0.3s ease 0s;
			}
		}
		&_icon {
			transition: all 0.3s ease 0s;
			width: 48px;
			height: 48px;
			display: flex;
			justify-content: center;
			align-items: center;
			& img {
				width: 24px;
				height: auto;
				@media (max-width: $small-mobile-bp){
					width: 20px;
				}
			}
			@media (max-width: $small-mobile-bp){
				width: 40px;
				height: 40px;
			}
		}
		&_text {
			font-size: 14px;
			letter-spacing: -0.2%;
			line-height: 114%;
			color: $neutral-dark;
			font-weight: 300;
			@media (max-width: $small-tablet-bp){
				font-weight: 400;
			}
		}
	}
	&__socials-subtitle {
		color: $neutral-grey;
	}
}
