@use "../variables.scss" as *;
@use "../functions.scss" as *;

// Блок с преимуществами
.advantages {
	margin-top: 180px;
	@media (max-width: $first-bp){
		margin-top: px-to-vw(180px, $first-bp);
	}
	@media (max-width: $small-tablet-bp){
		margin-top: px-to-vw(248px, $tablet-bp);
	}
		&__wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
			gap: 80px;
			@media (max-width: $first-bp){
				gap: px-to-vw(80px, $first-bp);
			}
			@media (max-width: $small-tablet-bp){
				gap: px-to-vw(45px, $small-tablet-bp);
			}
			@media (max-width: $mobile-bp){
				gap: 52px;
			}
		}
		&__title {
		}
		&__cards {
			display: flex;
			justify-content: center;
			@media (max-width: $tablet-bp){
				display: grid;
				grid-template-columns: repeat(7, 1fr);
				margin-left: px-to-vw(-22px, $tablet-bp);
				&>*:nth-child(8) {
					display: none;
				}
				&>*:nth-child(9) {
					display: none;
				}
				&>*:nth-child(10) {
					display: none;
				}
			}
		}
		&__card {
			@media (max-width: $tablet-bp){
				margin-left: 20px;
			}
		}
		&__items {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			column-gap: 64px;
			row-gap: 40px;
			@media (max-width: $first-bp){
				column-gap: px-to-vw(64px, $first-bp);
				row-gap: px-to-vw(40px, $first-bp);
			}
			@media (max-width: $mobile-bp){
				grid-template-columns: repeat(2, 1fr);
				row-gap: px-to-vw(25px, $mobile-bp);
				column-gap: 24px;
			}
		}
		&__item {
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			background-color: transparent;
			position: relative;
			padding-bottom: 10px;
			@media (max-width: $tablet-bp){
				padding-bottom: 7px;
			}
			@media (max-width: $mobile-bp){
				padding-bottom: 5px;
			}
			& img {
				width: 100%;
				position: absolute;
				bottom: 0px;
				left: 0px;
			}
			&_title {
				padding: 20px 0px;
				font-size: 24px;
				color: $neutral-dark;
				letter-spacing: -1%;
				@media (max-width: $first-bp){
					font-size: px-to-vw(24px, $first-bp);
				}
				@media (max-width: $tablet-bp){
					font-size: 16px;
					padding: px-to-vw(20px, $first-bp) 0px;
				}
				@media (max-width: $small-tablet-bp){
					padding: 10px 0px;
					font-size: 14px;
				}
				@media (max-width: $mobile-bp){
					padding: 12px 0px;
				}
			}
			&>*:last-child {
				opacity: 0;
				transition: all 0.2s ease 0s;
			}
			&:hover {
				cursor: default;
			}
			// @media (min-width: $tablet-bp){
			// 	&:hover {
			// 		&>*:last-child {
			// 			opacity: 1;
			// 			transition: all 0.2s ease 0s;
			// 		}
			// 		&>*:nth-child(2) {
			// 			opacity: 0;
			// 			transition: all 0.2s ease 0s;
			// 		}
			// 	}
			// }
		}
}

.advantage {
		&__item {
			&_title {
			}
		}
}

// Анимация появления карточек
@keyframes hiddenCards {
	0% {
		opacity: 1;
	}
	100% {
		opacity: 0;
	}
}
@keyframes showCards {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.hidden-advantage-cards {
	animation: hiddenCards 0.4s ease 0s forwards;
}
.show-advantage-cards {
	animation: showCards 0.4s ease 0s forwards;
}
