@use "../variables.scss" as *;
@use "../functions.scss" as *;

.history {
	margin-top: 180px;
	@media (max-width: $first-bp){
		margin-top: px-to-vw(180px, $first-bp);
	}
	@media (max-width: $small-tablet-bp){
		margin-top: px-to-vw(248px, $tablet-bp);
	}
		&__wrapper {
			position: relative;
			display: flex;
			flex-direction: column;
			gap: 80px;
			@media (max-width: $tablet-bp){
				gap: 50px;
			}
			&:hover {
				cursor: pointer;
			}
		}
		&__title {
		}
		&__draggable-zone {
			min-height: 900px;
			position: relative;
			width: 100%;
			left: 0%;
			top: 0px;
			//background-color: deepskyblue;
			@media (max-width: $tablet-bp){
				display: none;
			}
		}
		&__draggable-path {
			width: 100%;
			position: relative;
			//background-color: red;
			& path {
				width: 100%;
				height: 100px;
				left: -20px;
				position: absolute;
				stroke:black;
			}
		}
		&__draggable-points {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			opacity: 0;
			//overflow: hidden;
			&>*:nth-child(1) {
				position: absolute;
				top: 10%;
				left: 50%;
			}
			&>*:nth-child(2) {
				position: absolute;
				top: 30%;
				left: 25%;
			}
			&>*:nth-child(3) {
				position: absolute;
				top: 50%;
				left: 0%;
			}
			&>*:nth-child(4) {
				position: absolute;
				top: 30%;
				right: 25%;
			}
			&>*:nth-child(5) {
				position: absolute;
				top: 50%;
				right: 0%;
			}
		}
		&__draggable-point {
			width: 20px;
			height: 20px;
			background-color: rgb(52, 0, 148);
			border-radius: 50%;
			border: 3px solid #FFFFFF;
		}
		&__cards {
			display: flex;
			position: absolute;
			top: 0px;
			//display: none;
		}
		&__card {
			min-width: 360px;
			position: absolute;
			transform: translateX(-50%) translateY(-10%);
		}
		&__drag-widget {
		}
}
.secondary-title {
}
.work-history-card {
		&__wrapper {
		}
		&__title {
		}
		&__subtitle {
		}
		&__info {
		}
}


.swiper {
	position: relative;
	margin-top: -50px;
	@media (min-width: $tablet-bp){
		display: none !important;
	}
	@media (max-width: $mobile-bp){
		margin-top: -65px;
	}
}
.swiper-wrapper {
	height: auto;
	width: auto;
	max-width: 100vw;
	display: flex;
	position: absolute;
	top: 0px;
	left: 0px;
}
.swiper-slide {
	padding: 50px 0px;
	padding-left: 20px !important;
	height: auto;
	max-height: auto;
	display: flex;
	justify-content: center;
	width: 360px;
	@media (max-width: $tablet-bp){
		padding: px-to-vw(50px, $tablet-bp) 0px;
	}
	@media (max-width: $small-tablet-bp){
		padding: 40px 0px;
		width: px-to-vw(360px, $small-tablet-bp);
	}
	@media (max-width: $small-mobile-bp){
		width: 100vw;
		display: flex !important;
		justify-content: center;
		padding-left: 0px !important;
	}
}

.drag-widget {
	display: flex;
	justify-content: center;
	position: absolute;
	top: 0px;
	width: 100%;
	@media (max-width: $tablet-bp){
		display: none
	}
	&__wrapper {
		width: auto;
		position: relative;
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	&__images {
		padding: 5px 23px 13px 23px;
	}
	&__arrow-image {
		width: 110px;
	}
	&__hand-image {
		width: 100px;
		height: 100px;
		position: absolute;
		top: 18px;
		left: 30px;
		animation: draggableHand 8s ease 0s infinite;
		& img {
			width: 21px;
			height: 19px;
			transform: rotate(-50deg);
		}
	}
	&__text {
		font-size: 18px;
		letter-spacing: -0.2%;
		color: $neutral-grey;
	}
}

@keyframes draggableHand {
	0% {
		transform: rotate(105deg);
	}
	20% {
		transform: rotate(0deg);
	}
	40% {
		transform: rotate(105deg);
	}
	60% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(105deg);
	}
}