@use "../variables.scss" as *;
@use "../functions.scss" as *;

.history {
	margin-top: 180px;
	@media (max-width: $first-bp){
		margin-top: px-to-vw(180px, $first-bp);
	}
	@media (max-width: $small-tablet-bp){
		margin-top: px-to-vw(248px, $tablet-bp);
	}
		&__wrapper {
			display: flex;
			flex-direction: column;
			gap: 50px;
			//background-color: orange;
		}
		&__title {
		}
		&__draggable-zone {
			min-height: 900px;
			position: relative;
			width: 100%;
			left: 0%;
			top: 0px;
			background-color: deepskyblue;
			@media (max-width: $tablet-bp){
				display: none;
			}
		}
		&__draggable-path {
			width: 100%;
			position: relative;
			//background-color: red;
			& path {
				width: 100%;
				height: 100px;
				left: -20px;
				position: absolute;
				stroke:black;
			}
		}
		&__draggable-points {
			position: absolute;
			top: 0px;
			left: 0px;
			width: 100%;
			height: 100%;
			//overflow: hidden;
			&>*:nth-child(1) {
				position: absolute;
				top: 10%;
				left: 50%;
			}
			&>*:nth-child(2) {
				position: absolute;
				top: 30%;
				left: 25%;
			}
			&>*:nth-child(3) {
				position: absolute;
				top: 50%;
				left: 0%;
			}
			&>*:nth-child(4) {
				position: absolute;
				top: 30%;
				right: 25%;
			}
			&>*:nth-child(5) {
				position: absolute;
				top: 50%;
				right: 0%;
			}
		}
		&__draggable-point {
			width: 20px;
			height: 20px;
			background-color: rgb(52, 0, 148);
			border-radius: 50%;
			border: 3px solid #FFFFFF;
		}
		&__cards {
			display: flex;
			position: absolute;
			top: 0px;
			//display: none;
		}
		&__card {
			min-width: 360px;
			position: absolute;
			transform: translateX(-50%) translateY(-10%);
		}
		&__drag-widget {
		}
}
.secondary-title {
}
.work-history-card {
		&__wrapper {
		}
		&__title {
		}
		&__subtitle {
		}
		&__info {
		}
}


.swiper {
	position: relative;
	margin-top: -50px;
	@media (min-width: $tablet-bp){
		display: none !important;
	}
	@media (max-width: $mobile-bp){
		margin-top: -65px;
	}
}
.swiper-wrapper {
	height: auto;
	width: auto;
	max-width: 100vw;
	display: flex;
	position: absolute;
	top: 0px;
	left: 0px;
	@media (max-width: $small-tablet-bp){
		margin-top: -40px;
	}
}
.swiper-slide {
	padding: 50px 0px;
	padding-left: 20px !important;
	height: auto;
	max-height: auto;
	display: flex;
	justify-content: center;
	width: 360px;
	@media (max-width: $tablet-bp){
		padding: px-to-vw(50px, $tablet-bp) 0px;
	}
	@media (max-width: $small-tablet-bp){
		padding: 40px 0px;
		width: px-to-vw(360px, $small-tablet-bp);
	}
	@media (max-width: $small-mobile-bp){
		width: 100vw;
		display: flex !important;
		justify-content: center;
		padding-left: 0px !important;
	}
}