@use "../variables.scss" as *;
@use "../functions.scss" as *;

// Стартовый блок с шапкой
.start-section {
	width: 100%;
	max-width: $layout-width;
	//min-height: 100vh;
		&__wrapper {
			min-height: 100%;
			padding-top: 40px;
			display: flex;
			flex-direction: column;
			@media (max-height: $first-height-bp){
				padding-top: px-to-vh(40px, $first-height-bp);
			}
			@media (max-width: $tablet-bp){
				gap: px-to-vw(40px, $first-height-bp);
			}
		}
		&__header {
		}
		&__block {
		}
}
.header {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	opacity: 0;
	animation: opacityHeader 2.5s ease 0.6s forwards;
		&__left-block {
			min-width: 154px;
			@media (max-width: $tablet-bp){
				min-width: px-to-vw(154px, $tablet-bp);
			}
			@media (max-width: $mobile-bp){
				width: px-to-vw(83px, $mobile-bp);
			}
		}
		&__logo {
			
		}
		&__logo-letter {
		}
		&__contacts {
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			gap: 2px;
			&>*:nth-child(1) {
				gap: 2px;
			}
			&>*:nth-child(2) {
				gap: 6px;
			}
			@media (max-width: $tablet-bp){
				margin-bottom: -8px;
			}
			&_contact {
				display: flex;
				align-items: center;
				position: relative;
				transform: translateX(0px);
				transition: all 0.2s ease 0s;
				// Ховер только на весктопных устройствах
				@media (min-width: $tablet-bp){
						&:hover {
						transform: translateX(-10px);
						transition: all 0.2s ease 0s;
						& img {
							right: -25px;
							transition: opacity 0.2s ease 0s, transform 0.3s ease 0s;
							overflow: hidden;
							opacity: 1;
							width: 17px;
							height: 17px;
							transform: translateX(0px) translateY(-1px);
						}
					}
				}
				& img {
					right: -30px;
					transition: opacity 0.2s ease 0s, width 0.3s ease 0s, transform 0.3s ease 0s;
					overflow: hidden;
					opacity: 0;
					width: 17px;
					height: 17px;
					transform: translateX(10px) translateY(-1px);
					@media (max-width: $tablet-bp){
						display: none;
					}
				}
			}
			&_contact-text {
			}
		}
		&__button-wrapper {
			@media (max-width: $tablet-bp){
				min-width: px-to-vw(154px, $tablet-bp);
				display: flex;
				justify-content: end;
			}
			@media (max-width: $small-mobile-bp){
				width: 44px;
				min-width: 44px;
			}
		}
		&__button {
			position: relative;
			display: flex;
			justify-content: space-between;
			min-width: 154px;
			padding-right: 25px;
			@media (max-width: $tablet-bp){
				width: 54px;
				height: 54px;
				min-width: 0px;
				justify-content: center;
				align-items: center;
			}
			@media (max-width: $mobile-bp){
				width: 44px;
				height: 44px;
				max-height: 44px;
				max-width: 44px;
			}
			&:hover {
				&>*:first-child {
					opacity: 1;
					transition: all 0.25s ease 0.05s;
				}
				&>*:last-child {
					opacity: 0;
					transition: all 0.3s ease 0s;
				}
			}
			&_arrow {
				position: absolute;
				left: 22px;
				opacity: 0;
				transition: all 0.2s ease 0s;
				@media (max-width: $tablet-bp){
					display: none;
				}
			}
			&_message {
				width: 24px;
				height: 24px;
				@media (min-width: $tablet-bp){
					display: none;
				}
				@media (max-width: $mobile-bp){
					width: 20px;
					height: 20px;
				}
			}
			&_text {
				font-size: 16px;
				@media (max-width: $tablet-bp){
					display: none;
				}
			}
			&_dot {
				margin-left: -5px;
				margin-bottom: -1px;
				background-color: #FFFFFF;
				opacity: 1;
				transition: all 0.2s ease 0s;
				@media (max-width: $tablet-bp){
					display: none;
				}
			}
		}
}
.start-block {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-grow: 1;
	gap: 40px;
	padding-bottom: 60px !important;
	@media (max-height: $first-height-bp){
		gap: px-to-vh(40px, $first-height-bp);
	}
	@media (max-width: $mobile-bp){
		gap: 7vh;
	}
		&__main-title {
			color: $neutral-dark;
		}
		&__cards {
			// background-color: red;
			position: relative;
			display: flex;
			justify-content: center;
			height: 310px;
			padding-top: 50px;
			@media (max-height: $first-height-bp){
				height: px-to-vh(310px, $first-height-bp);
				padding-top: px-to-vh(50px, $first-height-bp);
			}
			@media (max-width: $tablet-bp){
				height: px-to-vw(310px, $tablet-bp);
				padding-top: px-to-vw(50px, $tablet-bp);
			}
			@media (max-width: $mobile-bp){
				height: auto;
				padding-bottom: px-to-vw(70px, $tablet-bp);;
			}
			&>*:nth-child(1) {
				position: absolute;
				//transform: translateX(245.22px) translateY(-0.5px) rotate(3.21deg);
				z-index: 2;
				left: -245.22px;
				top: -0.5px;
				transform: rotate(3.21deg);
				@media (max-height: $first-height-bp){
					left: px-to-vh(-245.22px, $first-height-bp);
					top: px-to-vh(-0.5px, $first-height-bp);
				}
				@media (max-width: $tablet-bp){
					left: px-to-vw(-245.22px, $tablet-bp);
					top: px-to-vw(-0.5px, $tablet-bp);
				}
				@media (max-width: $mobile-bp){
					left: px-to-vw(-80px, $mobile-bp);
					top: px-to-vw(-20px, $mobile-bp);
					transform: rotate(-10deg);
					z-index: 1;
				}
			}
			&>*:nth-child(2) {
				position: relative;
				transform: translateX(490px) translateY(63.41px) rotate(-2deg);
				z-index: 3;
				transform: rotate(-2deg);
				@media (max-width: $mobile-bp){
					z-index: 2;
					transform: rotate(-8deg) ;
					top: px-to-vw(45px, $mobile-bp);
				}
			}
			&>*:nth-child(3) {
				position: absolute;
				transform: translateX(757.03px) translateY(-2.5px) rotate(4.75deg);
				z-index: 1;
				left: 257.03px;
				top: -2.5px;
				transform: rotate(4.75deg);
				@media (max-height: $first-height-bp){
					left: px-to-vh(257.03px, $first-height-bp);
					top: px-to-vh(-2.5px, $first-height-bp);
				}
				@media (max-width: $tablet-bp){
					left: px-to-vw(257.03px, $tablet-bp);
					top: px-to-vw(-2.5px, $tablet-bp);
				}
				@media (max-width: $mobile-bp){
					left: px-to-vw(85px, $mobile-bp);
					top: px-to-vw(-5px, $mobile-bp);
					transform: rotate(6deg);
					z-index: 3;
				}
			}
		}
		&__card {
		}
		&__second-title {
			color: $light-grey;
		}
		&__socials-button-outer {
			height: 76px;
			// margin-top: -4.01vh;
			padding: 0px 0px;
			width: 100%;
			display: flex;
			justify-content: center;
			padding: 0px 0px;
			position: relative;
			margin-bottom: -60px;
		}
		&__socials-button {

		}
		&__socials-button-elem {
		}
		&__dot {
			background-color: $neutral-grey;
		}
}

.button-fixed {
	position: fixed;
	bottom: -10px;
	width: 100%;
	padding: 15px;
	display: flex;
	justify-content: center;
	z-index: 9999;
}

.max-height {
	height: 100vh;
	min-height: 100vh; 
}

@keyframes opacityHeader {
	0%{
		opacity: 0;
	}
	100%{
		opacity: 1;
	}
}

.widget-opacity {
	opacity: 0;
	transition: all 0.3s ease 0s;
}

.widget-visible {
	opacity: 1;
	transition: all 0.3s ease 0s;
}