@use "../variables.scss" as *;
@use "../functions.scss" as *;

// Блок с карточками работ
.works {
	margin-top: 128px;
	@media (max-width: $first-bp){
		margin-top: px-to-vw(128px, $first-bp);
	}
		&__wrapper {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__titles {
			display: flex;
			flex-direction: column;
			align-items: center;
		}
		&__title {
			color: $neutral-dark;
		}
		&__subtitle {
		}
		&__cards {
			width: 100%;
			display: grid;
			grid-template-columns: repeat(3, 1fr);
			row-gap: 64px;
			column-gap: 60px;
			@media (max-width: $first-bp){
				column-gap: px-to-vw(60px, $first-bp);
				row-gap: px-to-vw(64px, $first-bp);
			}
			@media (max-width: $tablet-bp){
				column-gap: px-to-vw(24px, $first-bp);
				row-gap: px-to-vw(24px, $first-bp);
			}
			@media (max-width: $small-tablet-bp){
				grid-template-columns: repeat(2, 1fr);
				column-gap: px-to-vw(40px, $first-bp);
				row-gap: px-to-vw(40px, $first-bp);
			}
			@media (max-width: $mobile-bp){
				grid-template-columns: repeat(1, 1fr); 
				row-gap: px-to-vw(25px, $mobile-bp);
			}
		}
		&__card {
		}
		&__button {
		}
		&__button-element {
		}
}

.works-button {
	position: relative;
	min-width: 208px;
	display: flex;
	justify-content: center;
	align-items: center;
	@media (min-width: $tablet-bp){
		&:hover {
			&>* {
				&:first-child {
					background-color: #FFFFFF;
					transition: all 0.3s ease 0s;
					opacity: 0;
				}
				&:last-child {
					opacity: 1;
					transition: all 0.4s ease 0s;
				}
				color: #FFFFFF;
			}
		}
	}
		&__dot {
			background-color: $neutral-dark;
			transition: all 0.3s ease 0s;
			margin-right: 3px;
		}
		&__text {
			color: $neutral-dark;
			font-size: 16px;
			//transition: all 0.3s ease 0s;
		}
		&__arrow {
			position: absolute;
			top: 19px;
			right: 20px;
			opacity: 0;
		}
}
