@use "./variables.scss" as *;
@use "./fonts.scss" as *;



body {
	background-color: $background-color;
	font-size: 16px;
	font-size: $main-font;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 360px;
	width: 100%;
	overflow-x: hidden;
}

/* Пока страница загружается */
body.loading {
  opacity: 0;
}
/* После загрузки */
body.loaded {
  opacity: 1;
}

.body-padding {
	padding: 0px 15px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

section {
	max-width: $layout-width;
	width: 100%;
}
