@use "./variables.scss" as *;
@use "./fonts.scss" as *;
@use "./functions.scss" as *;

html {
	max-width: 100vw;
	// overflow-x: hidden;
	overflow-x: clip;
}

body {
	background-color: $background-color;
	font-size: 16px;
	font-size: $main-font;
	display: flex;
	flex-direction: column;
	align-items: center;
	border-radius: 360px;
	// width: 100%;
	//overflow-x: hidden;
	border-radius: 0%;
	overflow-x: clip;
	font-weight: 300;
}

/* Пока страница загружается */
body.loading {
  opacity: 0;
}
/* После загрузки */
body.loaded {
  opacity: 1;
}

.body-padding {
	padding: 0px 15px;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 100vw;
	position: relative;
	&>*:not(:first-child) {
		margin-top: 248px;
		@media (max-width: $second-bp){
			margin-top: px-to-vw(248px, $second-bp);
		}
		@media (max-width: $tablet-bp){
			margin-top: px-to-vw(248px, $tablet-bp);
		}
	}
}

section {
	max-width: $layout-width;
	width: 100%;
}
