@use "./fonts.scss" as *;

// Размеры
$layout-width: 1320px; // Размер полотна сайта

// Цвета
$background-color: #F3F4FE;
$neutral-dark: #2B2E3A;
$neutral-grey: #89899D;
$light-grey: #CAD4DE;
$accent-blue: #04F;

// Шрифты
$main-font: "Outfit", Arial, sans-serif;
$accent-font: "Futura Bold Condensed BT", Arial, sans-serif;

// Брейкпоинты для адаптива
// Ширина
$first-bp: 1440px;
$second-bp: 1320px;
$third-bp: 1100px;
$tablet-bp: 992px;
$small-tablet-bp: 768px;
$mobile-bp: 480px;
$small-mobile-bp: 360px;
// Высота
$first-height-bp: 1000px;
